.node {
  height: 30px;
  width: 30px;
  outline: 1px solid lightblue;
  display: inline-block;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-visited {
  animation-name: visited;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.node-shortest-path {
  background-color: rgb(35, 211, 76, 0.75);
  animation-name: shortestPath;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.node-wall {
  background-color: black;
}

.nove-moving {
  transform: scale(1.5);
}

@keyframes shortestPath {
  0% {
    transform: scale(0.3);
    background-color: rgb(35, 211, 76, 0.75);
  }

  50% {
    background-color: rgb(35, 211, 76, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgb(35, 211, 76, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgb(35, 211, 76, 0.75);
  }
}

@keyframes visited {
  0% {
    transform: scale(0.3);
    background-color: rgba(2, 247, 231, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(2, 247, 169, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 102, 255, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(2, 2, 247, 0.75);
  }
}
